{% extends 'layout.html' %}


{% block content %}
     <div class="container customer-card ">
        <div class="row">
            <div class="col-sm"> 
                 <p>Janna Jameson | 084-555-6666 | James Jameson | Diagnosed | Awaiting treatment | Severity: Critical</p>
            </div>
            <div class="col-sm btn-wrapper">
                <a href="view" class="button">View</a>
                <a href="edit" class="button2">Modify</a>
            </div>
        </div>
    </div> 
     <div class="container customer-card ">
        <div class="row">
            <div class="col-sm"> 
                 <p>Hugh White | 086-444-5555 | Janna White | Diagnosed | Awaiting Treatment | Severity: Critical</p>
            </div>
            <div class="col-sm btn-wrapper">
                <a href="view" class="button">View</a>
                <a href="edit" class="button2">Modify</a>
            </div>
        </div>
    </div> 
     <div class="container customer-card ">
        <div class="row">
            <div class="col-sm"> 
                 <p>Helen Johnson | 083-333-2233 | Jimmy Johnson | Diagnosed | Awaiting Treatment | Severity: High</p>
            </div>
            <div class="col-sm btn-wrapper">
                <a href="view" class="button">View</a>
                <a href="edit" class="button2">Modify</a>
            </div>
        </div>
    </div> 
     <div class="container customer-card ">
        <div class="row">
            <div class="col-sm"> 
                 <p>Cathrine Sheehy | 086-7777-6666 | James Sheehy | Diagnosed | Awaiting Treatment | Severity: Medium</p>
            </div>
            <div class="col-sm btn-wrapper">
                <a href="view" class="button">View</a>
                <a href="edit" class="button2">Modify</a>
            </div>
        </div>
    </div> 
     <div class="container customer-card ">
        <div class="row">
            <div class="col-sm"> 
                 <p>Jorden Jake | 082-221-3446 | Sean Jake | Diagnosed | Awaiting Treatment | Severity: Low</p>
            </div>
            <div class="col-sm btn-wrapper">
                <a href="view" class="button">View</a>
                <a href="edit" class="button2">Modify</a>
            </div>
        </div>
    </div> 
{% endblock %}