{% extends 'layout.html' %}


{% block content %}
    <div class="container customer-card ">
        <div class="row">
            <div class="col-sm"> 
                 <p>John Doe | 086-784-1234 | Janna Doe | Diagnosed</p>
            </div>
            <div class="col-sm">

            </div>
            <div class="col-sm">
                <a href="view" class="button">View</a>
                <a href="edit" class="button2">Modify</a>
            </div>
        </div>
    </div> 
     <div class="container customer-card ">
        <div class="row">
            <div class="col-sm"> 
                 <p>James Smith | 086-444-5555 | Jake Smith | Undiagnosed</p>
            </div>
            <div class="col-sm">

            </div>
            <div class="col-sm">
                <a href="view" class="button">View</a>
                <a href="edit" class="button2">Modify</a>
            </div>
        </div>
    </div> 
     <div class="container customer-card ">
        <div class="row">
            <div class="col-sm"> 
                 <p>Helen White | 081-223-3322 | Sean White | Undiagnosed</p>
            </div>
            <div class="col-sm">

            </div>
            <div class="col-sm">
                <a href="view" class="button">View</a>
                <a href="edit" class="button2">Modify</a>
            </div>
        </div>
    </div> 
     <div class="container customer-card ">
        <div class="row">
            <div class="col-sm"> 
                 <p>Cathrine Stacey | 086-723-4566 | James Stacey | Diagnosed</p>
            </div>
            <div class="col-sm">

            </div>
            <div class="col-sm">
                <a href="view" class="button">View</a>
                <a href="edit" class="button2">Modify</a>
            </div>
        </div>
    </div> 
     <div class="container customer-card ">
        <div class="row">
            <div class="col-sm"> 
                 <p>Jorden Smith | 083-223-4566 | Kevin Smith | Undiagnosed</p>
            </div>
            <div class="col-sm">

            </div>
            <div class="col-sm">
                <a href="view" class="button">View</a>
                <a href="edit" class="button2">Modify</a>
            </div>
        </div>
    </div> 
{% endblock %}