{% extends 'layout.html' %}

{% block content %}
    <div class="general-details">
        <p><b>Name:</b> John Doe</p>
        <p><b>Address:</b> 123 Street, Dublin 1</p>
        <p><b>Next of kin:</b> Janna Doe</p>
        <p><b>Contact number:</b> 086-435-0099</p>
        <p><b>Assigned doctor:</b> James Johnson</p>
        <p><b>Severity: Normal</p>
    </div>
    <div class="wrapper">
        <form>
            <div class="column1">
                Age: (Years) <input type="text" name="age" value="54"></br>
                Sex: <input type="text" name="sex" value="Male"></br>
                Chest pain type: <input type="text" name="cp" value="Typical anginal"></br>
                Resting blood pressure (mmhg): <input type="text" name="trestbps" value="245"></br>
                Serum cholestoral (mg/dl): <input type="text" name="chol" value="130"></br>
                Fasting blood sugar (>120 mg/dl): <input type="text" name="fbs" value="Yes"></br>
                Resting electrocardiographic results: <input type="text" name="restecg" value="Normal"></br>
            </div>
            <div class="column2"> 
                Maximum heart rate: <input type="text" name="thalach" value="174"></br>
                Exercise induced angina: <input type="text" name="exang" value="Yes"></br>
                Oldpeak (ST depression): <input type="text" name="oldpeak" value="0"></br>
                Slope of peal exercise: <input type="text" name="slope" value="flat"></br>
                Ca (Number of major vessels): <input type="text" name="ca" value="3"></br>
                Thalassemia: <input type="text" name="thal" value="Normal"></br>
            </div>
            <input type="submit" value="Modify"></input>
            <input type="submit" value="Prioritize"></input>
            <input type="submit" value="Delete"></input>
            <input type="submit" value="Back"></input>
        </form>
    </div>
{% endblock %}