<!doctype html>
<html>
    <head>
        <title>{% block title %}HDDT Prototype 2020{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <ul>
            <li><a href="dashboard">Dashboard</a></li>
            <li><a href="awaiting">Awaiting List</a></li>
            <li><a href="diagnosis-results">Make Diagnosis</a></li>
        </ul>
        {% block content %}{% endblock %}
    </body>
</html>