{% extends 'layout.html' %}

{% block content %}
    <div class="general-details">
        <p><b>Name:</b> John Doe</p>
        <p><b>Address:</b> 123 Street, Dublin 1</p>
        <p><b>Next of kin:</b> Janna Doe</p>
        <p><b>Contact number:</b> 086-435-0099</p>
        <p><b>Assigned doctor:</b> James Johnson</p>
        <p><b>Severity:</b> Undetermined</p>
    </div>
    <div class="wrapper">
        <form method="POST">
            <div class="column1">
                Age: (Years) <input type="text" name="age"></br>
                Sex: <input type="text" name="sex"></br>
                Chest pain type: <input type="text" name="cp"></br>
                Resting blood pressure (mmhg): <input type="text" name="trestbps"></br>
                Serum cholestoral (mg/dl): <input type="text" name="chol"></br>
                Fasting blood sugar (>120 mg/dl): <input type="text" name="fbs"></br>
                Resting electrocardiographic results: <input type="text" name="restecg"></br>
            </div>
            <div class="column2"> 
                Maximum heart rate: <input type="text" name="thalach"></br>
                Exercise induced angina: <input type="text" name="exang"></br>
                Oldpeak (ST depression): <input type="text" name="oldpeak"></br>
                Slope of peal exercise: <input type="text" name="slope"></br>
                Ca (Number of major vessels): <input type="text" name="ca"></br>
                Thalassemia: <input type="text" name="thal"></br>
            </div>
            <input type="submit" value="Analyze"></input>
            <input type="submit" value="Back"></input>
        </form>
    </div>
{% endblock %}