{% extends 'layout.html' %}

{% block content%}
    <h2 align="center">Diagnosic results</h2>
    <div class="results-wrapper ">
        <h4>Perceptron accuracy is {{perceptronAccuracy}}</h3>
        <h4>Perceptron prediction is {{perceptronPredicted}}</h3>
        <h4>KNN accuracy is {{knnAccuracy}}</h3>
        <h4>KNN prediction is {{knnPredicted}}</h3>
        <h4>{{diagnosticResult}}</h3>
    </div>
    <img src="/static/images/severityVisualisation.png">
{% endblock %}