{% extends 'layout.html' %}

{% block content %}
    <div class="general-details">
        <p><b>Name:</b> John Doe</p>
        <p><b>Address:</b> 123 Street, Dublin 1</p>
        <p><b>Next of kin:</b> Janna Doe</p>
        <p><b>Contact number:</b> 086-435-0099</p>
        <p><b>Assigned doctor:</b> James Johnson</p>
        <p><b>Severity: 5</p>
    </div>
    <div class="wrapper">
        <form>
            <div class="column1">
                <p>Age: 54 years old</p></br>
                <p>Sex: Male</p></br>
                <p>Chest pain type: Typical anginal</p></br>
                <p>Resting blood pressure (mmhg): 245</p></br>
                <p>Serum cholestoral (mg/dl): 130</p></br>
                <p>Fasting blood sugar (>120 mg/dl): Yes</p></br>
                <p>Resting electrocardiographic results: Normal </p></br>
            </div>
            <div class="column2"> 
                <p>Maximum heart rate: 174</p></br>
                <p>Exercise induced angina: Yes</p></br>
                <p>Oldpeak (ST depression): 0</p></br>
                <p>Slope of peal exercise: Flat</p></br>
                <p>Ca (Number of major vessels): 3</p></br>
                <p>Thalassemia: Normal</p></br>
            </div>
            <input type="submit" value="Modify"></input>
            <input type="submit" value="Delete"></input>
            <input type="submit" value="Back"></input>
        </form>
    </div>
{% endblock %}