body {
    font-family: 'Courier', Courier, monospace;
}

.general-details {
    margin-left: 400px;
}

.wrapper {
    width: 700px;
    border: 2px solid #86c5da;
    border-radius: 5px;
    padding: 50px;
    margin: auto;
}

.results-wrapper {
    width: 700px;
    border: 2px solid #86c5da;
    border-radius: 5px;
    padding: 50px;
    margin: auto;
    margin-top: 50px;
}


input[type=submit] {
    width: 100%;
    background-color: #86c5da;
    color: #f5f5f5;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

input[type=text], select {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #f5f5f5;
    border-radius: 3px;
    box-sizing: border-box;
}

.column1 {
    float: left;
    width: 40%;
    
}

.column2 {
    float: right;
    width: 40%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: #f5f5f5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #86c5da;
    text-decoration: none;
    color: #f5f5f5;
}

img {
    width: 50%; 
    height: 550px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.customer-card {
    border: 2px solid #333;
    margin: 40px 70px;
    border-radius: 5px;
    padding: 10px 10px;
}
.btn-wrapper {
    margin-left: 650px;
}

.button {
    background-color: #86c5da;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 50px;
    cursor: pointer;
    border-radius: 5px;
}

.button2 {
    background-color: #FFA07A;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 40px;
    border-radius: 5px;
}

.button3 {
    background-color: #86c5da;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 500px;
    border-radius: 5px;
}

.button4 {
    background-color: #FFA07A;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 40px;
    border-radius: 5px;
}

.btn-wrapper {
    margin-left: 400px;
    margin-top: 15px;
}

